<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

        <title>AUGUST DOMESTIC - lhjtrades</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    </head>
    <body>
        <div class="holder">
            <div class="container" id="centered">
                <form action="/search" method="POST">
                    <input type="text" name="search" placeholder="Search" value="{% if info %}{{info.username}}{% endif %}">
                    <input type="submit" value="Search">
                </form>
                <br/>
                {% if error %}
                {{ error }}
                {% endif %}
                {% if info %}
                <div style="text-align:left;">
                    <b>Username:</b> {{ info.username }}<br/>
                    <!---<b>Email:</b> {{ info.email }}<br/>-->
                    <b>Location:</b> <span style="text-transform:uppercase;">{{ info.location }}</span><br/>
                    <b>Items:</b><br/>
                    <ul>
                        {% for key in info['items'] %}
                            <li>{{key}}: {{info['items'][key]}}</li>
                        {% endfor %}
                    </ul>
                    <!--<b>Total:</b> {{ info.total }}<br/>-->
                    <b># of Regular Photocards:</b> {{ info.reg }}<br/>
                    <b># of Trading Cards:</b> {{ info.trading }}<br/>
                    {% if info.other %}
                        <b># of Other Items (i.e. bigger items like kihnos):</b> {{ info.other }}<br/>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  
    </body>
</html>